/**
 * BUGO ARTICLE VARIABLES
 **/

// * Margin
// * false | modular scale ratio

$article-margin-top:        false !default; // false | modular scale ratio
$article-margin-right:      false !default; // false | modular scale ratio
$article-margin-bottom:     $global-margin !default; // false | modular scale ratio
$article-margin-left:       false !default; // false | modular scale ratio


// * Padding
// * false | modular scale ratio

$article-padding-top:       false !default; // false | modular scale ratio
$article-padding-bottom:    false !default; // false | modular scale ratio
$article-padding-right:     false !default; // false | modular scale ratio
$article-padding-left:      false !default; // false | modular scale ratio


/**
 * Article Summary
 **/

// * Margin
// * false | modular scale ratio

$summary-margin-top:        false !default; // false | modular scale ratio
$summary-margin-right:      false !default; // false | modular scale ratio
$summary-margin-bottom:     $global-margin !default; // false | modular scale ratio
$summary-margin-left:       false !default; // false | modular scale ratio


// * Padding
// * false | modular scale ratio

$summary-padding-top:       false !default; // false | modular scale ratio
$summary-padding-bottom:    false !default; // false | modular scale ratio
$summary-padding-right:     false !default; // false | modular scale ratio
$summary-padding-left:      false !default; // false | modular scale ratio


// * Grid

$summary-column-gap:        $global-padding !default; // false | modular scale ratio
$summary-row-gap:           false !default;  // false | modular scale ratio
$summary-xs-template-areas:
  "thumb"
  "head"
  "time"
  "tax"
  "summ" !default;


$summary-sm-template-areas: $summary-xs-template-areas !default;
$summary-md-template-areas: $summary-xs-template-areas !default;
$summary-lg-template-areas: $summary-xs-template-areas !default;
$summary-xl-template-areas: $summary-xs-template-areas !default;
$summary-xxl-template-areas: $summary-xs-template-areas !default;
$summary-xxxl-template-areas: $summary-xs-template-areas !default;

$summary-xs-template-columns: repeat( 1, 1fr ) !default;
$summary-sm-template-columns: $summary-xs-template-columns !default;
$summary-md-template-columns: $summary-xs-template-columns !default;
$summary-lg-template-columns: $summary-xs-template-columns !default;
$summary-xl-template-columns: $summary-xs-template-columns !default;
$summary-xxl-template-columns: $summary-xs-template-columns !default;
$summary-xxxl-template-columns: $summary-xs-template-columns !default;

$summary-template-areas: (
  xs: $summary-xs-template-areas,
  sm: $summary-sm-template-areas,
  md: $summary-md-template-areas,
  lg: $summary-lg-template-areas,
  xl: $summary-xl-template-areas,
  xxl: $summary-xxl-template-areas,
  xxxl: $summary-xxxl-template-areas
);

$summary-template-columns: (
  xs: $summary-xs-template-columns,
  sm: $summary-sm-template-columns,
  md: $summary-md-template-columns,
  lg: $summary-lg-template-columns,
  xl: $summary-xl-template-columns,
  xxl: $summary-xxl-template-columns,
  xxxl: $summary-xxxl-template-columns
);

// * Child Elements

$summary-header-margin: false !default;
$summary-thumb-margin: false !default;
$summary-summary-margin-top: $summary-column-gap !default; // false | modular scale ratio
