/**
 * BUGO ARTICLE
 **/

@import "bugo-article-vars";

@debug "Loading Bugo Article Module SASS";
@import "custom-variables";


article {
  @include space-element-x(margin, $article-margin-left, $article-margin-right);
  @include space-element-y(margin, $article-margin-top, $article-margin-bottom);
  @include space-element-x(padding, $article-padding-left, $article-padding-right);
  @include space-element-y(padding, $article-padding-top, $article-padding-bottom);



  header {
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
    }
  }

  .content {
    img {
      max-width: 100%;
      @include ms-respond(margin-top,$global-margin);
      @include ms-respond(margin-bottom,$global-margin);
    }
  }
}

.taxonomy {
}

.article-summary {
  @include space-element-x(margin, $summary-margin-left, $summary-margin-right);
  @include space-element-y(margin, $summary-margin-top, $summary-margin-bottom);
  @include space-element-x(padding, $summary-padding-left, $summary-padding-right);
  @include space-element-y(padding, $summary-padding-top, $summary-padding-bottom);
  // @include ms-respond(margin-top,$global-margin * 2);
  // @include ms-respond(margin-bottom,$global-margin * 2);


  display: grid;
  // Generate Responsive Grid
  @include responsive-property($summary-template-areas, "grid-template-areas");
  @include responsive-property($summary-template-columns, "grid-template-columns");
  @include grid-gaps($summary-column-gap, $summary-row-gap);

  header {
    grid-area: head;

    h3 {
      margin-top: $summary-header-margin;
    }
  }

  time {
    grid-area: time;
  }

  .thumbnail {
    grid-area: thumb;
    margin: 0;
  }

  .summary {
    grid-area: summ;
    @include ms-respond(margin-top, $summary-summary-margin-top);
  }
}

.recent-posts,
.recent-articles {
  > h2,h3,h4,h5,h6 {
  }

  .articles {
    display: flex;
    margin-left: -#{ms($global-padding)};
    margin-right: -#{ms($global-padding)};

    .article-summary {
      flex: 1 1 0%;
      padding-left: #{ms($global-padding)};
      padding-right: #{ms($global-padding)};
    }
  }
}