/**
 * BUGO ARTICLE
 **/
// Variables
@import "bugo-article-vars";
@debug "Loading Bugo Article Module SASS";


/**
 * ARTICLE ELEMENT
 **/

article {
  @include space-element-x(margin, $article-margin-left, $article-margin-right);
  @include space-element-y(margin, $article-margin-top, $article-margin-bottom);
  @include space-element-x(padding, $article-padding-left, $article-padding-right);
  @include space-element-y(padding, $article-padding-top, $article-padding-bottom);



  header {
    h1,h2,h3,h4,h5,h6 {
      margin-top: 0;
    }
  }

  .content {
    img {
      max-width: 100%;
      @include ms-respond(margin-top,$global-margin);
      @include ms-respond(margin-bottom,$global-margin);
    }
  }
}


/**
 * ARTCILE TAXONOMY SECTION
 **/

.tax-section {
  background-color: $accent1;
  @include set-padding($global-padding,$global-padding,$global-padding,$global-padding);
  margin-bottom: 2rem;

  h1,h2,h3,h4,h5,h6,
  .h1,.h2,.h3,.h4,.h5,.h6 {
    margin-top: 0;
  }


  &:nth-child(even) {
    background-color: $accent2;
  }

  > :first-child {
    margin-top: 0;
  }

  .thumbnail {
    display: none;
  }

  .term-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    > :nth-child(2) {
      min-width: 2rem;
    }

    .bugo-icon {
      width: 2rem;
      svg {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}


/**
 * ARTICLE SUMMARY - DEFAULT
 **/

.article-summary {
  @include space-element-x(margin, $summary-margin-left, $summary-margin-right);
  @include space-element-y(margin, $summary-margin-top, $summary-margin-bottom);
  @include space-element-x(padding, $summary-padding-left, $summary-padding-right);
  @include space-element-y(padding, $summary-padding-top, $summary-padding-bottom);


  display: flex;
  flex-direction: column;

  header {
    grid-area: head;

    h2,h3,h4 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  time {
    // grid-area: time;
  }

  .thumbnail {
    grid-area: thumb;
    margin: 0;
  }

  .summary {
    grid-area: summ;
    // @include ms-respond(margin-top, $summary-summary-margin-top);
  }
  p {
    margin-bottom: 0;
  }
}

/**
 * ARTCILE SUMMARY - LARGE
 **/

.article-summary.article-summary-large {
  display: flex;
  flex-direction: row;
  // margin-right: -#{ms($global-padding)};
  // margin-left: -#{ms($global-padding)};
  margin-bottom: #{ms($global-margin)};
  padding-bottom: #{ms($global-margin)};

  > * {
    flex: 1 1 75%;
    padding-left: #{ms($global-padding)};
    padding-right: #{ms($global-padding)};

    &:first-child {
      flex-basis: 25%;
    }
  }
}

/**
 * ARTICLE CONTAINERS
 **/

.recent-posts,
.recent-articles {
  .articles {
    @include make-columns();
  }

  .article-summary {
    flex: 1 1 0%;
  }
}

/**
 * ARTICLE EDITORIAL LAYOUT
 **/

.articles-editorial {
  @include make-columns();
  flex-wrap: wrap;

  &.show-thumbnails {
    .article-summary {
      .thumbnail {
        display: block !important;
        flex-basis: 50%;
        img {
          max-width: 100%;
        }
      }
    }
  }

  .article-summary {
    display: flex;
    flex: 1 1;
    flex-basis: 50%;
    flex-wrap: nowrap;
    flex-direction: row;


    &:first-child {
      h3 {
        @extend .d4;
      }
    }

    .thumbnail {
      display: none;
      flex-basis: 50% !important;
    }

    .summary {
      flex-basis: 66%;
    }

    &.has-thumbnail {
      display: flex;
    }
  }

  .article-summary-large {
    flex-basis: 100% !important;

    .thumbnail {
      flex-basis: 50%;
    }
  }

  .article-summary-small {
    flex-basis: 50%;
  }

  .article-summary-tiny {
    flex-basis: 20%;
  }
}